/* =======================================================================
	Responsive
======================================================================= */

//tablets
@media (min-width: 768px) and (max-width: 1024px) {
	.about__section__item {
		padding: 0;
		h2 {
			font-size: 18px;
			margin: 15px 0;
		}
		p {
			font-size: 16px;
		}
	}
}


//mobile devices
@media (max-width: 767px) {



	.main__header__wrap {
		display: block;
		text-align: center;
		padding-bottom: 1px;
		.main__header__widget {
			margin-bottom: 20px;
			&--center {
				margin: 0 auto 20px;
				max-width: 200px;
			}
		}
	}

	.theme__section--main {
		display: block;
		min-height: 10%;
		.theme__section__wrap {
			h1 {
				font-size: 22px;
				padding: 0 20px;
				margin-bottom: 10px;
			}
			h3 {
				padding: 0 20px;
				margin-bottom: 20px;
				font-size: 18px;
			}
		}
	}


	.about__section {
		h1 {
			margin: 20px 0 25px;
			font-size: 22px;
		}
		.about__section__item {
			h2 {
				margin: 10px 0;
				font-size: 18px;
			}
			p {
				margin-bottom: 30px;
				font-size: 16px;
			}
		}
		.btn {
			font-size: 13px;
			margin: 20px 0;
			padding: 0 20px !important;
		}
	}

	.main__footer__wrap {
		display: block;
		text-align: center;
		padding-bottom: 1px;
		padding-top: 20px;
		margin-bottom: 20px;
		.main__footer__widget {
			margin-bottom: 20px;
			.main__footer__copyright {
				text-align: left;
				padding: 0 20px;
				line-height: 20px;
			}
			.main__footer__social {
				text-align: center;
				a {
					margin:0 20px;
				}
			}
		}
	}
	.drop__section__main h4 {
		padding:0 20px;
	}
	.from__claud span {
		display: block;
	}

	.dropzone {
		text-align: center;
		padding: 0 20px 100px;
		&.dz-started {
			padding: 0 20px 50px;
			.drop__section__load {
				margin: 20px auto;
				width: 100%;
			}
		}
		.dz-preview {
			margin: 20px 20px 30px;
			&:after,
			&:before {
				display: none;
			}
		}
	}


	.modal__container {
		&__wrap {
			display: block;
			width: calc(100% - 20px);
			max-height: 90vh;
			overflow: auto;
			.btn__close {
				top: 10px;
				right: 10px;
				&:after,
				&:before {
					background-color: #222;
				}
			}
			.modal__social .btn {
				font-size: 10px;
			}
			&__col {
				display: block;
				&--left {
					width: 100%;
					padding: 15px;
				}
				&--right {
					display: block;
					width: 100%;
					background: #fff;
					text-align: center;
					.modal__text {
						padding: 0 20px;
						color: #666;
					}
					.btn {
						display: inline-block;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}